#compliance {
    background-image: linear-gradient(135deg, #2ba666 0%, #00ce63 100%);
    color: rgba(255, 255, 255, 0.65);
    padding-bottom: 200px !important;
    h5 {
        color: #ffffff !important;
    }
    div {
        text-align: center;
    }
}