@font-face {
    font-family: 'Px Grotesk Regular';
    src: url('./fonts/PxGroteskRegular.eot');
    src: url('./fonts/PxGroteskRegular.eot') format('embedded-opentype'),
        url('./fonts/PxGroteskRegular.woff2') format('woff2'),
        url('./fonts/PxGroteskRegular.woff') format('woff'),
        url('./fonts/PxGroteskRegular.ttf') format('truetype'),
        url('./fonts/PxGroteskRegular.svg') format('svg');
}
@font-face {
    font-family: 'Px Grotesk -Light';
    src: url('./fonts/PxGrotesk-Light.eot');
    src: url('./fonts/PxGrotesk-Light.eot') format('embedded-opentype'),
        url('./fonts/PxGrotesk-Light.woff2') format('woff2'),
        url('./fonts/PxGrotesk-Light.woff') format('woff'),
        url('./fonts/PxGrotesk-Light.ttf') format('truetype'),
        url('./fonts/PxGrotesk-Light.svg') format('svg');
}
@font-face {
    font-family: 'Px Grotesk -Bold';
    src: url('./fonts/PxGrotesk-Bold.eot');
    src: url('./fonts/PxGrotesk-Bold.eot') format('embedded-opentype'),
        url('./fonts/PxGrotesk-Bold.woff2') format('woff2'),
        url('./fonts/PxGrotesk-Bold.woff') format('woff'),
        url('./fonts/PxGrotesk-Bold.ttf') format('truetype'),
        url('./fonts/PxGrotesk-Bold.svg') format('svg');
}

