/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    line-height: 1.4;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* typography */
h1{
    font-size: 40px;    
}
h2{
    font-size: 26px;
}
h3{
    font-size: 18px;
}
h4{
    font-size: 24px;
}
h5{
    font-size: 18px;
}
h6{
    font-size: 14px;
}
/* h1, h2, h3, h4, h5, h6 {
    font-weight: 600; 
} */

h1, h2, h3{
    margin-top: 10px;
    margin-bottom: 20px;
    color: #3d4449;
    font-weight: 700;
}
h4, h5, h6{
    margin-top: 10px;
    margin-bottom: 15px;
}
p{
    margin-bottom: 29px;
}
.paragraph {
    line-height: 1.6;
    font-size: .94em;
    /* padding-right: 50px; */
    
}
.free-and-fully {
    letter-spacing: 1.1px;
}
/* color */
.text-red{
    color: #f56a6a;
}
.text-green{
    color: green;
}

.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
*{
    box-sizing: border-box;
    color: #7f888f;
}
.container{
    max-width: 1170px;
    width: 100%;
    margin: auto;
    padding: 0 15px;
}
.container:after, .banner:after{
    content: "";
    display: block;
    clear: both;
}
/* gird */
.fullwidth {
    width: 100%;
    float: left;
}
.half-col{
    width: 50%;
    float: left;
}
strong, b {
    color: #3d4449;
    font-weight: 600;
}
a {
    text-decoration: none;
}
.container section {
    padding: 73px 0 44px;
    margin-left: -15px;
    margin-right: -15px;
}
img {
    max-width: 100%;
    height: auto;
}
/* ========================== header =====================*/
.header {
    border-bottom: solid 5px #f56a6a;
    padding: 6em 0 1em 0;
    /* position: relative; */
    display: inline-block;
    width: 100%;
}
.header-ref {
    font-family: "Roboto Slab", serif;
    color: inherit;
    font-weight: 400;
    text-decoration: none;
    float: left;
    margin-top: 13px;
}
a:hover > * {
    color: #f56a6a !important;
}
a:hover {
    color: #f56a6a !important;
    background-color: transparent !important;
}
.icons {
    float: right;
}
li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}
/* ========================== banner =====================*/
.banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.banner-content {
    /* float: left;
    width: 50%; */
    padding-left: 15px;
    padding-right: 15px;    
}

header h1 {
    font-weight: 700;
    font-size: 52px;
    margin-top: 0px;
}
#banner-header {
    font-family: "Roboto Slab", serif;
}
.a-href-class {
    background-color: transparent;
    color: #f56a6a;
    border-radius: 4.4px;
    border-color: #f56a6a;
    border-style: solid;
    font-family: "Roboto Slab", serif;
    font-size: .75em;
    font-weight: 700;
    line-height: 3.5;
    letter-spacing: 0.88px;
    padding: 12px 37px;
    border-width: 2px;
}

/* ========================== erat-lacinia =====================*/
.erat-lacinia {
    border-top: solid 2px rgba(210, 215, 217, 0.75);
    float: left;
}
.erat-lacinia h2, .ipsum-sed-dolor h2 {
    border-bottom: solid 3px #f56a6a;
    margin:0 0 51.3px;
    padding-right: 19px;
    padding-bottom: 13px;
    display: inline-block;
    line-height: 1.4;
}
.gem-icon::after {
    transform: rotate(45deg);
    border-radius: 0.25rem;
    border: solid 2px rgba(210, 215, 217, 0.75);
    content: '';
    display: block;
    height: 7em;
    left: 50%;
    margin: -3.5em 0 0 -3.5em;
    position: absolute;
    top: 50%;
    width: 7em;
}
.gem-icon::before {
    color: #f56a6a;
    font-size: 2.75rem;
    position: relative;
    top: 1.5em;
}

.gem-icon {
    height: 10em;
    margin: 0 2em 0 0;
    text-align: center;
    width: 10em;
    position: relative;
    float: left;
}
.article-item {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
}

.article-head {
    line-height: 1.5;
    font-family: "Roboto Slab", serif;
}

.article-items {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 2em;
    /* float: left; */
    padding-left: 15px;
    padding-right: 15px;
}

/* ========================== ipsum-sed-dolor =====================*/
.ipsum-sed-dolor {
    border-top: solid 2px rgba(210, 215, 217, 0.75);
    float: left;
    margin: auto 0px;
}
.image-paragraph-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.image-paragraph {
    margin-top: 25px;
    padding: 0 15px 25px;
    position: relative;
}
.image-paragraph a img {
    border-radius: 5px;
}
.image-paragraph a img:hover {
    transform: scale(1.075);
    transition: all .2s;
}
.image-paragraph::after {
    background: rgba(210, 215, 217, 0.75);
    content: '';
    display: block;
    height: 1px;
    right: 0;
    bottom: 0em;
    position: absolute;
    width: 100%;

}
.image-paragraph:nth-child(even)::before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    width: 1px;
    background: rgba(210, 215, 217, 0.75);
    height: calc(100% + 4em);
}
.last-article {
    padding-bottom: 0px;
}
.last-article::after {
    content: none;
}
.last-article::before {
    height: 100% !important;
}

/* ========================== media queries =====================*/

@media screen and (max-width: 900px) {
    .article-items {
        display: grid;
        grid-template-columns: auto;
    }
    .erat-lacinia h2, .ipsum-sed-dolor h2 {
        margin-left: 15px;
    }
    .banner-content > img {
        height: 100%;
    }
}
@media screen and (max-width: 786px) {
    .banner {
        grid-template-columns: auto;
    }
    .banner-content {
        margin-bottom: 15px;
    }
    .banner-content > img {
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
    .image-paragraph-container {
        grid-template-columns: auto;
    }
    .image-paragraph:nth-child(even)::before {
        content: none;
    }
    #second-last-article::after {
        content: '';
    }
    #second-last-article {
        padding-bottom: 25px;
    }
    body {
        font-size: 0.8em;
    }
    .gem-icon::before {
        top: 1.2em;
    }
}
@media screen and (max-width: 414px) {
    .icons {
        position: absolute;
        right: 0;
        top: 1em;
    }
}